li a,
h3 {
    font-family: 'PT Sans Caption', sans-serif !important;
    color: slategrey;
}

.classH1 {
    font-family: 'Berkshire Swash', cursive;
    font-weight: bold;
    color: slategrey
}

.imgMy {
    width: 17%;
    border-radius: 44% !important;
    border: 10px solid white !important
}

a img {
    width: 9%;
}

.icon-Text {
    color: black !important;
    text-decoration: none !important;
}

.nav-link:active {
    background: slategrey;
    color: #e9e9e9
}

.nav-link:hover {
    color: #e9e9e9
}

.proj1 {
    background-image: url("https://placehold.it/300x300");
    height: 300px;
    width: 300px;
}

.proj1:hover {
    opacity: 0.5;
}

.icon-Footer {
    width: 3%
}

.styleHr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.responsive-imag {
    width: 100%;
    display: block;
}